---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import VideoSection from '../components/VideoSection.astro';

---


<Layout title="Welcome to Astro.">
	<LandingHeader />
    <div class="snap-center">
        <VideoSection />
    </div>