---
import LandingHeader from '../components/LandingHeader.astro';
import TeachMe from '../components/TeachMe.astro';
import Wallets from '../components/Wallets.astro';
import BuyingMethods from '../components/BuyingMethods.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="bitcoin">
	<main class="relative w-full h-screen overflow-auto md:snap-y md:snap-mandatory">		
		<div class="min-h-screen md:snap-center">
			<LandingHeader />
			<TeachMe />
		</div>
        <div class="min-h-screen md:snap-center">
			<Wallets />
		</div>
        <div class="min-h-screen md:snap-center">
            <BuyingMethods/>
        </div>
    </main>
</Layout>


