---
import LandingHeader from '../components/LandingHeader.astro';
import TeachMe from '../components/TeachMe.astro';
import Wallets from '../components/Wallets.astro';
import BuyingMethods from '../components/BuyingMethods.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">		
		
		<div class="snap-center">
			<LandingHeader />
			<TeachMe />
		</div>
        <div class="snap-center">
			<Wallets />
		</div>
        <div class="snap-center">
            <BuyingMethods/>
        </div>
    </main>
		
	</main>
</Layout>


