---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import SpeakWithUs from '../components/SpeakWithUs.astro';
---

<Layout title="Speak With Us">
    <LandingHeader />
    <main>
        <SpeakWithUs />
    </main>
    
</Layout>