---
---

<section class="bg-[#FFEEA9] min-h-screen p-4 sm:p-8 flex flex-col items-center justify-center">
    <div class="container mx-auto flex flex-col lg:flex-row items-center justify-between">
        <div class="w-full lg:w-1/2 mb-8 lg:mb-0 flex justify-center lg:justify-end">
            <img 
                src="/Prometeo.jpg" 
                alt="Prometheus stealing fire, symbolizing Bitcoin" 
                class="rounded-lg shadow-lg w-3/5 lg:w-3/5 h-auto object-cover"
            />
        </div>
        <div class="w-full lg:w-1/2 lg:pl-8">
            <h1 class="text-3xl font-bold mb-4 text-gray-800">our fire</h1>
            <p class="text-lg text-gray-700 mb-4">
                like a techy prometheus, bitcoin has fooled centralized institutions and regained money control for the people. sovereignty is the anthem of our century; bitcoin may be the torch.
            </p>
            <p class="text-lg text-gray-700">
                get to know bitcoin in some pages
            </p>
        </div>
    </div>
</section>