<section
		class="bg-black h-screen w-screen text-center overflow-hidden relative"
		>	
		<div class="z-30 relative h-full flex flex-col">
			<header class="">
				<h2 class="text-white pt-40 text-5xl font-medium">don't understand bitcoin?</h2>
				<p class="text-white text-base">we make it easy</p>
			</header>
					
			<footer class="text-white flex flex-col flex-grow justify-end pb-24">
				<a href="#">education is the source of empowerment</a>
			</footer>

		</div>
		
				<div class="absolute top-0 bottom-0 h-full z-10">
					<video class="object-center" autoplay muted loop src="/video.webm"></video>
				</div>
</section>